:root{
  --spacing: 10px;
  --blur: 10px;
  --color: #fff;
}

body{
  text-align: center;
  background: #193549;
  color: #fff;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 50px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

input{
  width: 200px;
}

.control{
  display: block;
  width: 30%;
}

.control{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.image{
  filter: blur(var(--blur));
  padding: var(--spacing);
  background: var(--color);
}

.main-header .hl{
  color: var(--color);
}